 
 <link rel="stylesheet" href="css/style.css">
   <nav class="firstspace" id="firstspace">
        <div class="navbar">
            <div class="boxes"><a href="/signup" target="_blank">Login </a></div>
            <div class="boxes"><a href="/">Home </a></div>
            <div class="boxes"><a href="/about">Shop </a></div>
            <div class="boxes"><a href="/about">Packages </a></div>
            <div class="boxes"><a href="/cup" target="_blank">Contact us </a></div>
        </div>
        <img src="Images/firstimg.jpeg" height="630px" width="100%">
        <div class="logo"><img src="Images/Image 3.png"></div>
   </nav>