<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    
</head>


<body>
    

    <div class="title1" id="title1"><p>Shop</p></div>

    <div class="fifth" id="fifth">
        <div class="boxes2"><img src="Images/bag.jpeg" height="150px"><p>TRAVEL BAG</p><div class="price"><img  src="Images/price.png" height="40px"><button>Book Here</button></div></div>
        <div class="boxes2"><img src="Images/knives.jpeg" height="140px"><p>WIND GLASSES</p><div class="price"><img  src="Images/price.png" height="40px"><button>Book Here</button></div></div>
        <div class="boxes2"><img src="Images/googles.jpeg" height="130px"><p>SURVIVAL KNIFE</p><div class="price"><img  src="Images/price.png" height="40px"><button>Book Here</button></div></div>
    </div>
    <div class="fif" id="fif">
        <div class="fifbox"><img src="Images/big.webp" height="500px"></div>
        <div class="fifbox"><h1>//////</h1><h2 class="title1">Welcome to <br> Life Wide <br></h2><h3>Catch the free gondola to Mountain Village<br> where you'll find stylish boutiques <br> sophisticated dining options, and family- <br> friendly activities and events, all surrounded <br> by the highest concentration of 13,000- <br> and 14,000-foot peaks in North America.</h3><br><br><a href="/login" ><button>Explore</button></a></div>
    </div>

    <div class="fif">
        <div class="fifbox"><img src="Images/desert.jpg" height="500px"></div>
        <div class="fifbox"><h1>//////</h1><h2 class="title1">Desert Safari  <br> Dubai <br> </h2><h3> Explore best offers on Dubai desert safari<br> where you'll find stylish boutiques <br>tours and packages at Thrillophilia. <br> friendly activities and events.<br>If you are looking for thrill, fun, and ultimate outdoor entertainment, you have come to the right place.<br> Book deluxe Desert Safari Dubai with BBQ Dinner </h3><br><br><a href="/login" ><button>Explore </button></a></div>
    </div>

    <div class="fif">
        <div class="fifbox"><img src="Images/snow.jpg" height="500px"></div>
        <div class="fifbox"><h1>//////</h1><h2 class="title1">Experience <br> the snowfall <br></h2><h3>Experience the beauty of snow and spend your leisure wintertime, visit Manali. There is a lot to do in Manali; one can holiday at the Hidimba Devi Temple, Manali Sanctuary, and Mall road.</h3><br><br><a href="/login" ><button>Explore</button></a></div>
    </div>

    <div class="last">
        <img class="india"  src="Images/india.jpeg" >
        <h1 class="head">Memorable Outdoor Experiences <br>IN INDIA</h1>
        <a href="regis.html" target="_blank"><button class="EXPLORE">EXPLORE WITH US</button></a>
        <a href="/contact" target="_blank">
            <h2 class="contact" id="contact">Contact us</h2>
        </a>
    </div>
    
</body>
</html>