<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>nav}}
    <div class="title" id="title"><p>OUR BRANCHES</p></div>
    <div class="secondspace">
        <div class="ourbranches"><p>Delhi</p><img src="Images/delhi1.jpeg" height="120px"><a href="regis.html" target="_blank"><button>Read More</button></a></div>
        <div class="ourbranches"><p>Hyderabad</p><img src="Images/hyderabad1.jpeg" height="120px"><a href="regis.html" target="_blank"><button>Read More</button></a></div>
        <div class="ourbranches"><p>Chennai</p><img src="Images/chennai1.jpeg" height="120px"><a href="regis.html" target="_blank"><button>Read More</button></a></div>
        <div class="ourbranches"><p>Mumbai</p><img src="Images/mumbai1.jpeg" height="120px"><a href="regis.html" target="_blank"><button>Read More</button></a></div>
        <div class="ourbranches"><p>Kolkata</p><img src="Images/kolkata1.jpeg" height="120px"><a href="regis.html" target="_blank"><button>Read More</button></a></div>        
    </div>
    <div class="thirdspace">
        <img src="Images/image 11.jpeg" height="650px" width="100%">
        <div class="text3">
            <h1 style="color: white;">Never Stop </h1>
            <h1 style="color: red;">Exploring</h1>
        </div>
    </div>
    <div class="Go">ADVENTURE</div>
    <div class="Co">
        <div class="Ao"><img src="Images/jump.jpeg"><p class="Ko">Sky Diving</p></div>
        <div class="Bo"><img src="Images/jump1.jpeg"><p class="Ko">Zip Lines</p></div>
        <div class="Do"><img src="Images/rowing.jpeg"><p class="Ko">Rowing</p></div>
        <div class="Eo"><img src="Images/trekking.jpeg"><p class="Ko">trekking</p></div>
        
    </div>

   
</body>
</html>